@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the brand */
@layer base {
  body {
    @apply bg-timber-dark text-white font-sans;
  }
}

.btn-premium {
  @apply bg-klein-orange transition-all duration-300 uppercase font-black tracking-widest;
}

.btn-premium:hover {
  @apply bg-white text-klein-orange -translate-y-0.5 shadow-lg shadow-klein-orange/20;
}

.btn-stamped {
  @apply bg-timber-dark border-4 border-zinc-800 hover:border-klein-orange transition-colors duration-300;
}

.bg-timber-grain {
  background-color: #1a1715;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}